<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div th:replace="fragments :: navFragment"></div>

<br> <br>



<br> <br> <br>

<div  class="container mt-5 mb-5"  >
    <div class="d-flex justify-content-center row">

        <div class="row">
            <div class="col-3 px-5 mx-5">
        <h4 th:text="${username} + ' Shop' "></h4>
            </div>
        </div>


        <div th:each="product: ${products}"  class="col-md-10">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" th:src="@{${product.getProductImage()}}" ></div>
                <div class="col-md-6 mt-1">
                    <h5 th:text="${product.getProductName()}"></h5> <!-- TODO NAME OF PRODUCT -->
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span th:text="${product.getProductRating()}"></span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span class="dot" th:text="${product.getProductCity()}"></span><br></div>
                    <div class="mt-1 mb-1 spec-1"><span class="dot" th:text="${product.getCategory().getCategoryName()}"></span><br></div>
                    <p class="text-justify text-truncate para mb-0" th:text="${product.getProductDescription()}"><br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1" th:text="${product.getProductPrice()}">$13.99</h4>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    <div class="d-flex flex-column mt-4">

                        <form th:action="@{'/products/delete/{id}' (id=${product.getProductId()})}" th:method="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                        </form>
                        <a class="btn btn-outline-info mt-1" th:href="@{'/products/product-detail/{id}' (id=${product.getProductId()})}">Details</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div th:replace="fragments::footerFragment"></div>
</body>
</html>